HELP.md
CinemaProject/target/
CinemaProject/!.mvn/wrapper/maven-wrapper.jar
CinemaProject/!**/src/main/**/target/
CinemaProject/!**/src/test/**/target/

### STS ###
CinemaProject/.apt_generated
CinemaProject/.classpath
CinemaProject/.factorypath
CinemaProject/.project
CinemaProject/.settings
CinemaProject/.springBeans
CinemaProject/.sts4-cache

### IntelliJ IDEA ###
CinemaProject/*.idea
CinemaProject/*.iws
CinemaProject/*.iml
CinemaProject/*.ipr

### NetBeans ###
CinemaProject/nbproject/private/
CinemaProject/nbbuild/
CinemaProject/dist/
CinemaProject/nbdist/
CinemaProject/.nb-gradle/
CinemaProject/build/
CinemaProject/!**/src/main/**/build/
CinemaProject/!**/src/test/**/build/

### VS Code ###
CinemaProject_front/.vscode/

CinemaProject_front/.DS_STORE
CinemaProject_front/node_modules
CinemaProject_front/scripts/flow/*/.flowconfig
CinemaProject_front/.flowconfig
CinemaProject_front/*~
CinemaProject_front/*.pyc
CinemaProject_front/.grunt
CinemaProject_front/_SpecRunner.html
CinemaProject_front/__benchmarks__
CinemaProject_front/build/
CinemaProject_front/build2/
CinemaProject_front/remote-repo/
CinemaProject_front/coverage/
CinemaProject_front/.module-cache
CinemaProject_front/fixtures/dom/public/react-dom.js
CinemaProject_front/fixtures/dom/public/react.js
CinemaProject_front/test/the-files-to-test.generated.js
CinemaProject_front/*.log*
CinemaProject_front/chrome-user-data
CinemaProject_front/*.sublime-project
CinemaProject_front/*.sublime-workspace
CinemaProject_front/.idea
CinemaProject_front/*.iml
CinemaProject_front/.vscode
CinemaProject_front/*.swp
*.swo

CinemaProject_front/packages/react-devtools-core/dist
CinemaProject_front/packages/react-devtools-extensions/chrome/build
CinemaProject_front/packages/react-devtools-extensions/chrome/*.crx
CinemaProject_front/packages/react-devtools-extensions/chrome/*.pem
CinemaProject_front/packages/react-devtools-extensions/firefox/build
CinemaProject_front/packages/react-devtools-extensions/firefox/*.xpi
CinemaProject_front/packages/react-devtools-extensions/firefox/*.pem
CinemaProject_front/packages/react-devtools-extensions/shared/build
CinemaProject_front/packages/react-devtools-extensions/.tempUserDataDir
CinemaProject_front/packages/react-devtools-inline/dist
CinemaProject_front/packages/react-devtools-shell/dist
CinemaProject_front/packages/react-devtools-scheduling-profiler/dist


#Android Studio
CinemaApp/*.iml
CinemaApp/.gradle
CinemaApp/local.properties
CinemaApp/.idea/caches
CinemaApp/.idea/libraries
CinemaApp/.idea/modules.xml
CinemaApp/.idea/workspace.xml
CinemaApp/.idea/navEditor.xml
CinemaApp/.idea/assetWizardSettings.xml
CinemaApp/.DS_Store
CinemaApp/build
CinemaApp/captures
CinemaApp/.externalNativeBuild
CinemaApp/.cxx
CinemaApp/local.properties
